* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  background-color: hsl(275, 100%, 97%);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#desktop-img {
  top: 0;
  position: fixed;
}

h1 {
  font-weight: 700;
  font-size: 50px;
  margin: -55px 0px 30px 60px;
}

h2 {
  font-weight: 600;
  font-size: 17px;
}

p {
  color: hsl(292, 16%, 49%);
  margin: 20px 0px 20px;
}

.container {
  background-color: hsl(0, 0%, 100%);
  padding: 2.5em;
  box-shadow: 0 30px 30px -15px #ebdbf4;
  border-radius: 15px;
  width: 602px;
  min-height: fit-content;
  z-index: 1000;
  position: relative;
  margin-top: 190px;
  display: block;
  position: relative;
}

#minus1 {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: -25px 0px 10px 500px;
}

#minus2 {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: -25px 0px 10px 500px;
}

#minus3 {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: -25px 0px 10px 500px;
}

#minus4 {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: -25px 0px 10px 500px;
}

#plus1 {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: -25px 0px 10px 500px;
}

#plus2 {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: -25px 0px 10px 500px;
}

#plus3 {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: -25px 0px 10px 500px;
}

#plus4 {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: -25px 0px 10px 500px;
}

hr {
  margin: 30px 0px 30px;
  border: 1px solid hsl(275, 100%, 97%);
}

h2:hover {
  color: #ad28eb;
  cursor: pointer;
}

h2:focus {
  color: #ad28eb;
  cursor: pointer;
  outline: none;
}

#minus1,
#minus2,
#minus3,
#minus4,
#plus1,
#plus2,
#plus3,
#plus4:hover {
  cursor: pointer;
}

.footer {
  font-size: 11px;
  text-align: center;
  bottom: 0;
  width: 100%;
  margin-top: 40px;
}
.footer a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 800px) {
  h2 {
    width: 85%;
  }
  .container {
    width: 402px;
  }
  #minus1 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -40px 0px 10px 300px;
  }

  #minus2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -25px 0px 10px 300px;
  }

  #minus3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -35px 0px 10px 300px;
  }

  #minus4 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -40px 0px 10px 300px;
  }

  #plus1 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -40px 0px 10px 300px;
  }

  #plus2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -25px 0px 10px 300px;
  }

  #plus3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -35px 0px 10px 300px;
  }

  #plus4 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -40px 0px 10px 300px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-weight: 700;
    font-size: 30px;
    margin: -15px 0px 30px 50px;
  }

  .container {
    width: 350px;
    border-radius: 10px;
  }
  #minus1 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -35px 0px 10px 250px;
  }

  #minus2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -25px 0px 10px 250px;
  }

  #minus3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -35px 0px 10px 250px;
  }

  #minus4 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -40px 0px 10px 250px;
  }

  #plus1 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -35px 0px 10px 250px;
  }

  #plus2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -25px 0px 10px 250px;
  }

  #plus3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -35px 0px 10px 250px;
  }

  #plus4 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -40px 0px 10px 250px;
  }

  #star {
    width: 25px;
    position: absolute;
    margin: -15px 0px 30px 0px;
  }
}

@media (max-width: 300px) {
  .container {
    width: 250px;
    border-radius: 10px;
    padding: 2em;
  }

  #minus1 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -40px 0px 10px 170px;
  }

  #minus2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -35px 0px 10px 170px;
  }

  #minus3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -45px 0px 10px 170px;
  }

  #minus4 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -45px 0px 10px 170px;
  }

  #plus1 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -40px 0px 10px 170px;
  }

  #plus2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -35px 0px 10px 170px;
  }

  #plus3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -45px 0px 10px 170px;
  }

  #plus4 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: -45px 0px 10px 170px;
  }

  @media (max-width: 280px) {
    h2 {
      width: 80%;
    }

    #minus1 {
      display: flex;
      flex-direction: row;
      position: absolute;
      margin: -45px 0px 10px 160px;
    }

    #minus2 {
      display: flex;
      flex-direction: row;
      position: absolute;
      margin: -35px 0px 10px 160px;
    }

    #minus3 {
      display: flex;
      flex-direction: row;
      position: absolute;
      margin: -55px 0px 10px 160px;
    }

    #minus4 {
      display: flex;
      flex-direction: row;
      position: absolute;
      margin: -45px 0px 10px 160px;
    }

    #plus1 {
      display: flex;
      flex-direction: row;
      position: absolute;
      margin: -45px 0px 10px 160px;
    }

    #plus2 {
      display: flex;
      flex-direction: row;
      position: absolute;
      margin: -35px 0px 10px 160px;
    }

    #plus3 {
      display: flex;
      flex-direction: row;
      position: absolute;
      margin: -55px 0px 10px 160px;
    }

    #plus4 {
      display: flex;
      flex-direction: row;
      position: absolute;
      margin: -45px 0px 10px 160px;
    }
  }
}
